# =========================
# Node_modules
# =========================
node_modules/
pnpm-lock.yaml

# =========================
# Env（非常重要）
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
pnpm-debug.log*

# =========================
# Build 输出
# =========================
dist/
build/
.output/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# OS 文件
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# =========================
# Extension（你这个项目重点）
# =========================
extension/.output/
extension/.wxt/
extension/dist/
# =========================
# API（后端）
# =========================
api/dist/

# =========================
# 临时文件
# =========================
tmp/
temp/
